.slide-switch.check {
  background-color: #330066 !important;
}
.slide-switch-label {
  top: 1px;
  left: 12px;
}
.slide-switch-label-left {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
.slide-switch-label-right {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.slide-switch-selection {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 1px solid transparent !important;
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #00ee00 !important;
}
.slide-switch-selection:hover {
  -moz-box-shadow: 0 0 5px 5px #00ee00 !important;
  -webkit-box-shadow: 0 0 5px 5px #00ee00 !important;
  box-shadow: 0 0 5px 5px #00ee00 !important;
}
.slide-switch-label.switch-selected {
  border: 0px!important;
}
.slide-switch {
  border-color: #1a1a1a !important;
  background-color: #000000 !important;
  -moz-box-shadow: 0 -2px 4px -4px #00ee00;
  -webkit-box-shadow: 0 -2px 4px -4px #00ee00;
  box-shadow: 0 -2px 4px -4px #00ee00;
}
.slide-switch-marker {
  top: -2px;
  margin-left: -3px;
  width: 99%;
  height: 99%;
  color: #00ee00 !important;
  text-shadow: 0 0 3px #99ccff;
  font-weight: normal;
}
.slide-switch-marker-current {
  z-index: 100!important;
  color: #1d1d1d !important;
  font-weight: bold;
}
body {
  background-color: #000000;
  font-size: 16px;
  width: 100%;
  color: #00ee00;
}
label {
  color: #00ee00;
}
.outerContainer {
  width: 100%;
}
.button,
button {
  background-color: #aa00aa !important;
  color: #00ee00;
}
.title {
  font-size: larger;
  text-align: left;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  display: table;
}
.title span {
  vertical-align: middle;
  display: table-cell;
  padding-right: 15px;
  margin-top: 2px;
}
#ColorScheme {
  float: right;
}
.linkBar {
  width: 100%;
  text-align: justify;
  margin-top: 3px;
  padding-top: 0;
  padding-bottom: 6px;
  margin-bottom: 5px;
  border-bottom: 1px solid #aa00aa;
  border-top: 1px solid #aa00aa;
  line-height: 42px;
  vertical-align: middle;
  height: 42px;
}
.linkBar:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.navLink {
  width: 25%!important;
  cursor: pointer;
  margin-top: -3px !important;
}
.navLink span {
  color: #ee00ee !important;
}
.navLink:hover {
  text-shadow: 5px 5px 5px #aa00aa;
}
a {
  color: #00ee00;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #00ee00;
}
.emphasis {
  font-style: italic;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin-top: 5px;
  max-width: 100%;
}
.charm-closer {
  display: none;
}
.charm {
  background-color: #000000 !important;
  padding: 0;
  padding-top: 3px;
}
.gm-charm {
  width: 100%;
  max-width: 400px;
  min-width: 360px;
}
#charmTitle {
  color: #00ee00;
  font-weight: bold;
}
.charmLabelBold {
  color: #00ee00;
  font-weight: bold;
}
.charmLabelEmph {
  font-style: italic;
  color: #00ee00;
}
.charmText {
  color: #00ee00;
}
.indent {
  margin-left: 5px;
}
.eventDesc {
  margin-left: 10px;
  color: #00ee00;
}
.venue {
  margin-left: 10px;
  color: #00ee00;
}
::-webkit-scrollbar {
  display: none!important;
  width: 1px!important;
}
#eventCharm {
  width: 100%;
}
h3 {
  color: #00ee00;
}
.eventListing {
  color: #00ee00 !important;
  cursor: pointer;
}
.eventListing:visited {
  color: #00ee00 !important;
}
